<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center">
                    <h1>Acceso indebido</h1>
                    <h2 class="lead">Debes estar registrado para acceder a la aplicación</h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-lg btn-outline-primary btn-block text-uppercase" href="./" role="button">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>