<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-header text-center">
                    <h1>Hola turbomáquina</h1>
                    <h2 class="lead">{{NOMBRE}}</h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-lg btn-outline-primary btn-block text-uppercase" href="./?action=cambiarContrasena" role="button">Cambiar contraseña</a>
                    <a class="btn btn-lg btn-outline-primary btn-block text-uppercase" href="./?action=logout" role="button">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>